<div class="book-rated" *ngIf="updated">
  Book {{ updated?.title }} has been updated.
</div>
<div class="form">
  <div class="form-group">
    <div><label for="title">Title</label></div>
    <div>
      <input 
        [(ngModel)]="book.title"
        class="form-control" 
        name="title"
        #title>
    </div>
  </div>
  <div class="form-group">
    <div><label for="link">Description</label></div>
    <div>
      <textarea 
        [(ngModel)]="book.description"
        class="form-control" 
        name="description" 
        #description>
      </textarea>
    </div>
  </div>
  <div class="form-group">
   <button (click)="add()" class="btn btn-danger">Add</button>
  </div>
</div>