<div class="well">
      <div class="thumbnail pull-right">
            <img src="//gravatar.com/avatar/{{ information.rating }}?s=80&default=wavatar" />
      </div>
      <h2>{{ information.title }} <small>Stars {{ information.rating }}</small></h2>
      <p>{{ information.description }}</p>

      <button (click)="rateUp()" class="btn btn-default glyphicon glyphicon-thumbs-up"></button>
      <button (click)="rateDown()" class="btn btn-default glyphicon glyphicon-thumbs-down"></button>
</div>